.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.234);
  padding: 20px;
  margin: 20px 10px;
}

.link {
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.link:hover {
  text-decoration: underline;
}
