.wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.input {
  padding: 15px;
  border-radius: 20px;
  outline: none;
  border-width: 0.3px;
}

.button {
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(21, 101, 206, 0.791);
  font-size: 20px;
  font-weight: 500;
}
